# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# compiled code
src/*.o
src/*.so
src/*.dll

# WIP
R/clearskymodels-staging.R

src/symbols.rds
